@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-family: "JetBrains Mono", monospace;
	font-family: var(--font-family);
	font-optical-sizing: auto;
}

body {
	background: #f3f4f6;
}

.table-of-content #toc {
	max-height: 0;
	transition: max-height 1s ease-out;
	overflow: hidden;
}

#toc.visible {
	max-height: 500px;
	transition: max-height 1s ease-in;
}